/*Importamos el archivo de las fuentes CSS para poder utilizarlas en nuestro proyecto solo con la propiedad font-family: ...*/

@import url('fonts.css');

:root{
    --color: #FFA559;
    --color1: #000000;
    --color2 : #FFFFFF;
    --color3 : #2D53E5;
    --color4: #F7E025;
    --color5: #7D12F8;

    /* Color para las letras */
    --colorA : #FFFFFF;
    --colorB: #000000;
    --colorC: #888B8E;

}

/* --------------------------------- Control de las cajas */
*{
    box-sizing: border-box;
}

body{
    background-color: var(--color);
    font-family: 'Nunito', sans-serif !important;
}

/* ---------------------------------- Aquí estará el CSS de la barra superior */
.nav-link{
    text-decoration: none;
    color: var(--colorB);
}

.logo{
    height: 60px;
    width: 60px;
}

.barra1{
    background-color: var(--color2);
}

/* ---------------------------------- Aquí irá todo el contenido de la página (main) */
.r1{
    background-color: var(--color1);
    padding-top: 5%;
    padding-bottom: 5%;
}

.Titulo{
    display: flex;
    justify-content: center;
    color: var(--colorA);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------- Sección donde irá mi información */
.CajaFoto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.FotoGit{
    height: 85%;
    width: 85%;
    border-radius: 2%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.Info{
    display: flex;
    justify-content: center;
    color: var(--colorA);
    font-family: 'Roboto Mono', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.r2{
    background-color: var(--color2);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14.5px;
}

/* ---------------------------------- Parte de mis repositorios */
.cont2{
    background-color: var(--color2);
}

.Titulo2{
    display: flex;
    justify-content: center;
    color: var(--colorB);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

.Info2{
    display: flex;
    justify-content: center;
    color: var(--colorB);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container1{
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card1{
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--color2);
    box-shadow: 0px 1px 10px rgba(0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

p{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 13px;
    justify-content: center;
}

       /* Efectos de las cajas */
.card1:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0.4);
    transform: translateY(-3%);
}

.card1 .imgRepos{
    width: 100%;
    height: 100%;
}

.card1 .contenido{
    text-align: center;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 5%;
}

.card1 .contenido p{
    color: var(--colorC);
}

       /* Aquí van los "iconos" de los lenguajes */
.card1 .Var1{
    /* HTML */
    text-decoration: none;
    display: inline-block;
    color: var(--colorB);
    border: 1px solid var(--color);
    border-radius: 4px;
    transition: all 400ms ease;
    background: var(--color);
    padding-left: 3px;
    padding-right: 3px;

}
.card1 .Var2{
    /* CSS */
    text-decoration: none;
    display: inline-block;
    color: var(--colorA);
    border: 1px solid var(--color3);
    border-radius: 4px;
    transition: all 400ms ease;
    background: var(--color3);
    padding-left: 3px;
    padding-right: 3px;
}
.card1 .Var3{
    /* JS */
    text-decoration: none;
    display: inline-block;
    color: var(--colorB);
    border: 1px solid var(--color4);
    border-radius: 4px;
    transition: all 400ms ease;
    background: var(--color4);
    padding-left: 3px;
    padding-right: 3px;
}
.card1 .Var1:hover{
    /* HTML */
    color: var(--colorB);
    box-shadow: 2px 2px 8px rgba(0,0,0.4);
    transform: translateY(-2%);
}
.card1 .Var2:hover{
    /* CSS */
    color: var(--colorA);
    box-shadow: 2px 2px 8px rgba(0,0,0.4);
    transform: translateY(-2%);
}
.card1 .Var3:hover{
    /* JS */
    color: var(--colorB);
    box-shadow: 2px 2px 8px rgba(0,0,0.4);
    transform: translateY(-2%);
}

/* ---------------------------------- Parte de las habilidades */
.container2 {
    place-items: center;
    padding-bottom: 45px;
}

.contenedor_tarjetas {
    display: flex;
    justify-content: space-between;
    row-gap: 56px;
}

.Cada_tarj {
    /* Para hacer que este cuadro de información suba a la imágen */
    position: relative;
    overflow: hidden;
}

.img_tarj {
    width: 328px;
    max-width: 250px;
    height: auto;
    /* Mantiene la proporción de la imagen */
    border-radius: 24px;
}

.dato_tarj {
    width: 200px;
    background-color: var(--color2);
    padding: 24px 32px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 16px;
    position: absolute;
    bottom: -144px;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.titulo_tarj {
    display: flex;
    justify-content: center;
    color: var(--colorC);
    font-size: 18px;
    font-family: 'Roboto Mono', sans-serif;
    margin-bottom: 6px;
}

/* Colores titulos */
.H{
    color: var(--color);
}
.C{
    color: var(--color3);
}
.J{
    color: var(--color4);
}
.B{
    color: var(--color5);
}

.info_tarj {
    color: var(--colorB);
    font-size: 10px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
}

/* Animación de las tarjetas */
.Cada_tarj:hover .dato_tarj {
    /* forwards ayudará a mantener los estilos una vez finalizado */
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.Cada_tarj:hover {
    animation: remove-overflow 2s forwards;
}

.Cada_tarj:not(:hover) {
    animation: show-overflow 2s forwards;
}

.Cada_tarj:not(:hover) .dato_tarj {
    animation: remove-data 1s forwards;
}

/* Definimos la acción how-data y remove-overflow */
@keyframes show-data {
    50% {
        transform: translateY(-160px);
    }

    100% {
        transform: translateY(-112px);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-112px);
    }

    50% {
        transform: translateY(-160px);
    }

    100% {
        transform: translateY(.30px);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/* ---------------------------------- Pie de págnia (Final) */
.r7{
    background-color: var(--color1);
    display: flex;
    text-align: center;
}

.ico1{
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    font-size: 160%;
    color: var(--color2);
}


/* ---------------------------------- RESPONSIVE ZONE :D */
/* Res parte de los repositorios */
@media (max-width: 2560px) {
    .card1 {
        width: calc(33.33% - 40px); /* Tres tarjetas por fila calc(dimensión del espacio - tamaño de la caja) */
    }
}
@media (max-width: 426px) {
    .card1 {
        width: calc(100% - 40px); /* Tres tarjetas por fila calc(dimensión del espacio - tamaño de la caja) */
    }
}

/* Parte de mis habilidades */
@media (max-width: 1025px) {
    .contenedor_tarjetas {
        flex-direction: column;
        align-items: center;
    }

    .img_tarj {
        width: 100%
        
    }
}
